/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Black background for elegance */
    color: #ffffff; /* White text for readability */
    line-height: 1.6;
}

/* Header Styling */
header {
    background: #000000; /* Black background for header */
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: top 0.3s ease;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #000000; /* Black background for elegance */
    margin-bottom: -200px;
}


/* Logo and Title Container */
.logo-title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-title-container img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    object-fit: contain; /* Ensure the entire image is visible */
}

/* Site Title Styling */
.site-title {
    font-size: 2.5em; /* Increase the font size for more prominence */
    margin: 0;
    color: #C0C0C0; /* Silver color for the title */
    letter-spacing: 2px; /* Add letter spacing for a cleaner look */
    font-weight: bold; /* Make the title bold */
    text-transform: uppercase; /* Convert the title to uppercase for impact */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle shadow for depth */
    white-space: nowrap; /* Prevent the title from wrapping */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover Effect for Site Title */
.site-title:hover {
    color: #D3D3D3; /* Lighter silver color on hover */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Enhance shadow on hover */
    transform: scale(1.05); /* Slight scaling effect on hover */
}


/* Adjustments for Mobile View */
@media (max-width: 768px) {
    .logo-title-container img {
        width: 70px; /* Smaller size for mobile */
    }

    .site-title {
        font-size: 1.2em; /* Smaller font for mobile */
    }
}

/* Adjust margin for carousel items to avoid being covered by the header */
@media (min-width: 769px) {
    .carousel-container {
        margin-top: none; /* Add top margin to move the carousel down */
    }
}

nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 0.9em;
}

nav ul li a:hover {
    color: #c0c0c0; /* Vibrant silver for hover effect */
}

.menu-toggle {
    display: none;
    background-color: #000000; /* Black background */
    color: #ffffff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.language-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.language-switcher button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.language-switcher img {
    width: 35px;
    height: 35px;
}

.hidden {
    display: none !important;
}

/* Carousel Section */
section#carousel {
    background-color: #000000; /* Black background */
    padding: 20px 0;
    text-align: center;
    margin-top: 90px;
}

.carousel-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 10px;
}

.carousel-container img {
    width: 100%;
    max-height: 250px; /* Limit the image height for mobile */
    object-fit: cover;
    border-radius: 10px;
}

/* Intro Section */
section#intro {
    background-color: #000000; /* Black background */
    padding: 20px 15px;
    text-align: center;
    box-sizing: border-box;
    color: #ffffff; /* White text */
    margin-bottom: 20px;
    margin-top: -70px;
}

.intro-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    box-sizing: border-box;
}

.intro-content {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

.intro-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #c0c0c0; /* Vibrant silver for a sophisticated feel */
}

.intro-content p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #ffffff; /* White text */
}

.intro-details {
    margin-bottom: 20px;
    text-align: left;
}

.intro-details h3 {
    font-size: 1.5em;
    color: #c0c0c0;
    margin-bottom: 10px;
}

.intro-details p {
    font-size: 0.9em;
    color: #ffffff; /* White text */
    margin: 5px 0;
    position: relative;
    padding-left: 20px;
}

.intro-details p i {
    color: #FFD700; /* Golden color */
    margin-right: 10px; /* Space between icon and text */
}

/* CTA Button Styling */
.cta-button {
    background: linear-gradient(145deg, #1f1f1f, #3d3d3d); /* Gradient for depth */
    color: #FFD700; /* Keep the golden color for the text */
    border: 2px solid #C0C0C0; /* Change border to silver */
    padding: 15px 30px; /* Add padding for a more attractive look */
    margin-top: 10px;
    border-radius: 10px; /* Match widget item border radius */
    cursor: pointer;
    font-size: 18px; /* Increase font size */
    font-weight: bold;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Match widget item box shadow */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.cta-button:hover {
    background: linear-gradient(145deg, #3d3d3d, #5b5b5b); /* Brighter gradient for hover */
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6); /* Enhanced hover effect */
    border-color: #D3D3D3; /* Lighter silver border on hover */
}


/* Widget Bar */
section#widget-bar {
    background-color: #000000; /* Black background */
    padding: 20px 0;
    margin-top: -20px;
    margin-bottom: 20px;
}

.widget-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.widget-item {
    background: linear-gradient(145deg, #0d0d0d, #1a1a1a); /* Gradient for depth */
    padding: 20px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #FFD700; /* Golden border */
}

.widget-item:hover {
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    border-color: #FFC700; /* Slightly lighter golden border on hover */
}

.widget-item p {
    margin: 0;
    font-size: 1em;
    color: #FFD700; /* Golden color for text */
}

/* Steps Section */
section#steps {
    background-color: #000000; /* Black background */
    padding: 20px 0;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 10px; /* Padding to prevent cutting off */
}

.step {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: calc(100% - 20px); /* Ensure full width */
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.step-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    max-height: 250px; /* Consistent height with gallery images */
}

.step-text {
    width: 100%;
    text-align: center;
}

.step-text h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #c0c0c0; /* Vibrant silver for headings */
}

.step-text p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #ffffff; /* White text */
}

/* Offers, Testimonials, and Gallery Sections */
section#offers, section#testimonials, section#gallery {
    background-color: #000000; /* Black background */
    padding: 20px 20px;
    text-align: center;
    margin: 0;
}

.offers-container, .testimonials-container, .gallery-container {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.offer, .testimonial {
    background-color: #000000; /* Black background */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.testimonials-slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.gallery-item {
    width: calc(33.333% - 10px);
    transition: border 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #c0c0c0; /* Vibrant silver for captions */
}

.highlight {
    border: 5px solid #c0c0c0;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

footer {
    background: #000000; /* Black background */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

button#to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    border: 2px solid #2f2f2f; /* Light black border effect */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: opacity 0.3s ease, border-color 0.3s ease;
}

button#to-top:hover {
    opacity: 0.8;
    background-color: #2f2f2f; /* Slightly lighter black for hover effect */
    border-color: #4f4f4f; /* Lighter border on hover */
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float img {
    width: 30px;
    height: 30px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Floating Menu Icon */
.floating-menu-icon {
    display: none;
    position: fixed;
    bottom: 120px; /* Adjusted to avoid covering the WhatsApp icon */
    right: 10px;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 15px;
    z-index: 1001;
    cursor: pointer;
}

.floating-menu-icon .menu-toggle {
    display: block;
    font-size: 24px;
}

/* Mobile Specific Adjustments */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background: #000000; /* Black background */
        color: #ffffff;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 1001;
    }

    .menu-toggle.show-plus::after {
        content: '+';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        color: #c0c0c0;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #000000; /* Black background */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .header-container {
        justify-content: space-between;
        padding: 0 10px;
    }

    .language-switcher {
        position: static;
        justify-content: center;
        margin-top: 10px;
        flex: 1;
    }

    .menu-toggle {
        position: static;
        margin-top: 10px;
        flex: 1;
        text-align: right;
    }

    .step {
        width: 100%;
        margin-bottom: 30px;
        padding: 10px; /* Added padding for mobile view */
    }

    .step-content img {
        max-width: 100%; /* Full width for mobile */
        max-height: 200px; /* Adjusted height for mobile */
        object-fit: cover; /* Ensure image scales properly */
    }

    section#steps {
        flex-direction: column;
        align-items: center;
    }

    .offers-container, .testimonials-container, .gallery-container, .carousel-container {
        padding: 10px;
    }

    section#intro h2 {
        font-size: 2em;
    }

    .header-container, .intro-container {
        padding: 0 10px;
    }

    .gallery-container {
        flex-direction: column;
    }

    .gallery-row {
        flex-direction: column;
        gap: 20px;
    }

    .gallery-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .intro-content h2 {
        font-size: 2em;
    }

    .intro-content p {
        font-size: 1.2em;
    }

    .intro-details h3 {
        font-size: 1.5em;
    }

    .intro-details p {
        font-size: 1em;
    }

    .cta-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    section#carousel {
        padding-top: 20px;
    }

    .carousel-container {
        padding: 10px;
    }

    .carousel-container img {
        max-height: 200px; /* Further limit the image height for mobile */
    }

    .floating-menu-icon {
        display: block;
    }
}
